.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0 auto;
  max-width: 720px;
  padding-top: 56px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    padding-top: 48px;
  }
}

@media screen and (max-width: 700px) {
  .lead__title {
    max-width: 500px;
    font-size: 70px;
    line-height: 74px;
  }
}

@media screen and (max-width: 520px) {
  .lead__title {
    max-width: 420px;
    font-size: 52px;
    line-height: 58px;
  }
}

@media screen and (max-width: 425px){
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
