.cover__overlay {
  background: rgba(42, 44, 47, 0.3);
  display: block;
  padding: 245px 312px;
  text-decoration: none;
  color: #fff;
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1130px) {
  .cover__overlay {
    padding: 195px 232px;
  }
}

@media screen and (max-width: 985px) {
  .cover__overlay {
    padding: 140px 120px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    padding: 115px 104px;
  }
}

@media screen and (max-width: 690px) {
  .cover__overlay {
    padding: 58px 48px;
  }
}

@media screen and (max-width: 432px) {
  .cover__overlay {
    padding: 33px 16px;
  }
}
